@media (max-width: 767.99px){
    /* .container{
        width: 100%;
        max-width: 600px;
        margin: auto;
    } */
    .media h1{
        font-size: 30px;
    }
    .media p{
        font-size: 15px;
        width: 350px;
    }
    .media .btn{
        font-size: 10px;
    }
}

@media (max-width: 767.98px){
    .media h1{
        font-size: 30px;
    }
    .media p{
        font-size: 15px;
        width: 350px;
    }
    .media .btn{
        font-size: 10px;
    }
}
